.image-top-centre {
    img {
        object-position: top center;
    }
}
.image-top-left {
    img {
        object-position: top left;
    }
}
.image-top-right {
    img {
        object-position: top right;
    }
}
.image-centred {
    img {
        object-position: center center;
    }
}
.image-middle-left {
    img {
        object-position: middle left;
    }
}
.image-middle-right {
    img {
        object-position: middle right;
    }
}
.image-bottom-left {
    img {
        object-position: bottom left;
    }
}
.image-bottom-centre {
    img {
        object-position: bottom center;
    }
}
.image-bottom-right {
    img {
        object-position: bottom right;
    }
}