.image-ratio-1-1 {
    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}

.image-ratio-2-3 {
    img {
        aspect-ratio: 2 / 3;
        object-fit: cover;
    }
}

.image-ratio-3-4 {
    img {
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }
}

.image-ratio-4-1 {
    img {
        aspect-ratio: 4 / 1;
        object-fit: cover;
    }
}

.image-ratio-4-3 {
    img {
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }
}
.image-ratio-2-1 {
    img {
        aspect-ratio: 2 / 1;
        object-fit: cover;
    }
}